.background-me{
  background-color: #AADBCD;
  color: #fff;
  text-align: center;
}

.profile-img{
  border-radius: 100%;
  max-width: 600px;
  max-height: 300px;
}

.background-skills {
  background-color: #fff;
  color: #AADBCD;
  text-align: center;
}

.background-projects {
  background-color: #AADBCD;
  color: #fff;
  text-align: center;
}
